#SideBar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
    height: 700px;
    width: 50px;
    border-radius: 15px;
    padding: 25px 10px;
}

.head-flex{
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    padding: 5px;
}

#EditorIcon{
    margin-left: 2px;
}


#foot-flex{
    margin-left: 6px
}